<h1>Sign-In</h1>
<form action="/users/create" method="post">
    <input type="email" name="email" placeholder="type email">
    <input type="password" name="password" placeholder="type password">
    <input type="submit" value="Submit">
</form>