<h1>Sign-Up</h1>
<form action="/users/create_session" method="post">
    <input type="name" name="name" placeholder="type name">
    <input type="email" name="email" placeholder="type email">
    <input type="password" name="password" placeholder="type password">
    <input type="password" name="confirm_password" placeholder="type confirm_password">
    <input type="submit" value="Submit">
</form>